@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,100&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;

	--background-end-rgb: 255, 255, 255;
}
::-webkit-scrollbar {
	display: block;
	width: 8px;
	scroll-behavior: smooth;
}

body::-webkit-scrollbar-thumb {
	border-radius: 30%;
	background: rgb(112, 25, 122);
	background: -moz-linear-gradient(
		205deg,
		rgba(112, 25, 122, 1) 0%,
		rgb(176, 17, 52) 20%,
		rgb(18, 56, 183) 37%,
		rgba(105, 81, 178, 1) 44%,
		rgba(70, 148, 151, 1) 59%,
		rgba(145, 2, 210, 1) 79%,
		rgba(0, 212, 255, 1) 98%
	);
	background: -webkit-linear-gradient(
		205deg,
		rgba(112, 25, 122, 1) 0%,
		rgba(5, 76, 197, 1) 20%,
		rgba(145, 2, 210, 1) 37%,
		rgba(105, 81, 178, 1) 44%,
		rgba(70, 148, 151, 1) 59%,
		rgba(145, 2, 210, 1) 79%,
		rgba(0, 212, 255, 1) 98%
	);
	background: linear-gradient(
		205deg,
		rgba(112, 25, 122, 1) 0%,
		rgba(5, 76, 197, 1) 20%,
		rgba(145, 2, 210, 1) 37%,
		rgba(105, 81, 178, 1) 44%,
		rgb(180, 15, 35) 59%,
		rgba(145, 2, 210, 1) 79%,
		rgba(190, 19, 19, 0.803) 98%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#70197a", endColorstr="#00d4ff", GradientType=1);
	scroll-behavior: smooth;
}
@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 245, 225, 215;
		--background-start-rgb: 0, 100, 100;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
		rgb(var(--background-start-rgb));
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: "Poppins", sans-serif;
}
